/** Reset */
/** Шрифты */
@font-face {
    font-font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/100IBMPlexSans-Thin.eot');
	src: local('☺'), url('../fonts/100IBMPlexSans-Thin.woff') format('woff'), url('../fonts/100IBMPlexSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/400IBMPlexSans-Regular.eot');
	src: local('☺'), url('../fonts/400IBMPlexSans-Regular.woff') format('woff'), url('../fonts/400IBMPlexSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/500IBMPlexSans-Medium.eot');
	src: local('☺'), url('../fonts/500IBMPlexSans-Medium.woff') format('woff'), url('../fonts/500IBMPlexSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/600IBMPlexSans-SemiBold.eot');
	src: local('☺'), url('../fonts/600IBMPlexSans-SemiBold.woff') format('woff'), url('../fonts/600IBMPlexSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/700IBMPlexSans-Bold.eot');
	src: local('☺'), url('../fonts/700IBMPlexSans-Bold.woff') format('woff'), url('../fonts/700IBMPlexSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/** Общие стили ========================================================*/

.cinema{
    font-family: 'IBM Plex Sans', sans-serif;
}
.part {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.29;
    color: #A3CC40;

}
/** Сетка макета */
/** Компоненты */
/** Медиа – правила */


/* Шапка ========================================================*/

.header {
   
    margin-top: 50px;
    position: absolute;
    z-index: 1000;
    max-width: 100%;  
}
.header__link{    
    float: left;
    padding-left: 90px; 
    padding-right: 45px;   
}
.header__contact { 
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    transition: 0.2s;
    margin-bottom: 10px;
}
.header__contact:hover {
    color: #a3cc40;
}

.cinema__mail{
    text-decoration: none;
    color:#FFFFFF;
    border-bottom: 1px solid;
    padding-bottom: 0;
    display: inline;
    margin-right: 50px;
    transition: 0.2s;
}
.cinema__mail:hover {
    color: #a3cc40;
}
.cinema__tel,
.cinema__addres {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    text-decoration: none;
    margin-right: 55px;
    transition: 0.2s;
}
.cinema__tel:hover,
.cinema__addres:hover {
    color: #a3cc40;
}
.phone svg{
    fill: #333333;
    padding-left: 8px;
    /*margin-left: 0px;
    vertical-align: middle;  */
}
.phone  span {
    padding: 8px 8px 6px 8px;
}
.cinema__call {
    width: 130px;
    height: 21px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 6px;
}
.phone{    
    text-decoration: none;    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    margin-right: 120px; 
    transition: all 0.2s ease;
       
}
.phone:hover {
    background: #A3CC40;
    border: 2px solid #EAEDE2;
    color: #FFFFFF;
}
.phone:hover svg{
    fill: #FFFFFF;
}
.header__lang{
     
    float: right;
    width: 30px;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    position: relative;
	color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    text-transform:uppercase
}
.header__down-arrow{
    fill: #FFFFFF;
    margin-left: -3px;
    vertical-align: middle;  
}
.header__lang ul {
    margin: -1px;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 15px;
    width: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}
.header__lang:hover ul {
    display: block;
    padding-top: 5px;
    
}
.header__lang ul li {
    list-style: none;
    text-align: left;
}
.header__lang ul li a{
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease;
}
.header__lang ul li a:hover,
.header__lang_title:hover  {
    color: #A3CC40;
}

.header__block{
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
.header__lang:hover svg {
    transform: rotate(180deg); 
    fill: #A3CC40;
}
.header__lang:hover span {
    color: #A3CC40;
}

.header__menu  {

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}  
.header__menu  ul{
    list-style:none;
    height:16px;
}  
.header__menu  ul li{
    float:left;
}  
.header__menu  ul li a{
    color:#fff;
    display:block;
    margin-right: 73px;
    text-transform:uppercase;
    text-decoration:none;
    line-height: 1.33;
}  
.header__menu  ul li a:hover{
    color: #a3cc40;
    border-bottom: 1px solid;
    padding-bottom: 1;
}

/*  Приветствие ========================================================*/
.intro__subtitle {
    color: #FFFFFF;
}

.intro {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    background: url('../images/cinema_hall.jpg') no-repeat center / cover, pink;
    overflow: hidden;
}
.intro::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 125px solid transparent;
    border-right: 100vw solid #FFFFFF;
}
.intro__inner {
    width: 100%;
    /*max-width: 850px;*/
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
}

.intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
}
.welcome__footer {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    width: 426px;
    height: 221px;
    margin-top: 750px;
    margin-left: 50%;
    padding-bottom: 5px;
    z-index: 1000;
}
.welcome__footer-point {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    color: #333333;
    text-align: left;
}
.welcome__footer-item {
    padding-left: 50px;
    padding-right: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    text-align: left;
}
.welcome__footer-item:last-child {
    padding-top: 10px;
}
/* о нас ========================================================*/
.about-us {
    width: 850px;
    margin: 0 auto;
    position: relative;
}


.about-us__container {
    margin-top: 75px;
}

.about-us__block {
    overflow: hidden;
    margin: 0 -28px;
        
}
.about-us__part {
    padding-top: 20px;
    float: left;
    box-sizing: border-box;
    color: #333333;
    width: 33.333%;
    padding-left: 28px;
    padding-right: 28px;
    transition: all 0.2s ease;
}
.about-us__part:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}
.about-us__part img {
    width: 245px;
    height: 169px;
}
.about-us__title {    
    width: 245px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    padding-top: 45px;
}
.about-us__subtitle { 
    width: 245px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 45px;
}

/* расписание  ========================================================*/


.schedule h2 {
    width: 850px;
    margin: 0 auto;
}
.schedule__block {
    margin-top: 95px;
}
.schedule__table {
    border-collapse: collapse;
    width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.schedule__table th {
    background: #A3CC40;
    padding: 10px 20px;
    text-align: left;  
}
.schedule__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}
.schedule__link svg {
    display: inline-block;
    vertical-align: middle;
}
.schedule__table td {
    padding: 12px 22px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
}
.schedule__dark-ground {
    background: #373737;
}
.schedule__gray-ground {
    background: #4C4D4F;
}
.schedule__subtitle {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27x;
    text-align: center;
}

/* Подарки ===============================================*/


.present {
    margin: 0 auto;
    max-width: 100%;
    text-align: right;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 695px;
    background: url('../images/Filmstock.jpg') no-repeat center / cover, pink;
    overflow: hidden;
    margin-top: 30px;
}
.present::before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #FFFFFF;
}
.present::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 100vw solid #FFFFFF;
}
.present__block {
    width: 850px;
    margin: 0 auto;
}
.presnt__block {
    padding-top: 50px;
    width: 540px;
    float: right;
}
.present__title {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #FFFFFF;
}
.present__title-middle {
    padding: 10px;
    text-indent: 15px
}
.present__button {
    width: 850px;
    margin: 0 auto;
    float: right;
    padding-top: 30px;
}
.present__btn {
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 6px;
    width: 190px;
    Height: 31px;
    font-size: 14px;
    align-items: center;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all 0.2s ease;
  
}
.present__btn:hover {
    color: #A3CC40;
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
    border-radius: 6px;
}
.present__gift {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -230px;
}
.present__block h2 {
    color: #FFFFFF;
}

/* Фильмы ==================================================*/

.playbill {
    border-collapse: collapse;
    width: 850px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;

}
.playbill_suptitle {
    margin-top: 40px;
    width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #333333;
}
.playbill__movies {
    overflow: hidden;
    margin-top: 65px;
    background: rgba(22, 22, 22, 0.8); 

}
.playbill__movies a {
    display: inline-block; 
    float: left; 
    position: relative;
    width: 283px;
    height: 283px;
}
.playbill__movies a:hover span {
    opacity: 1;
}
.playbill__movies a:hover .playbill__green {
    background: rgba(144, 210, 61, 0.4);
}
.playbill__movies img {
    width: 283px;
    height: 283px;
}

.playbill__title {
    position: absolute;
    padding-top: 30px;
    padding-left: 25px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 1.31;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    width: 283px;
    height: 283px;
    z-index: 3;

}

.playbill__subtitle {
    position: absolute;
    padding-top: 70px;
    padding-left: 25px;
    Width: 237px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 3;

}
.playbill__green {
    height: 100%;
    width: 100%;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    transition: all 0.2s ease;
}
.playbill__green:hover {
    background: none;
}

/* покупки ===============================================*/

.shopping {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.shopping__suptitle {
    margin-top: 44px;
    margin-bottom: 60px;
    width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #333333;
}

.shopping__block {
    overflow: hidden;
    margin: 0 -28px;
}
.shopping__link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 33.333%;
    padding: 0 28px;
    float: left;    
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*.shopping__green::after {
    content: "";
    border-top: 3.5rem solid transparent;
    border-right: 12.25rem solid rgba(163, 204, 64, 0.8);
}*/
.shopping__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.shopping__part {
    float: left;    
    
    color: #333333;
}
.shopping__part img {
    width: 245px;
    height: 331px;

}
.shopping__title {

    position: absolute;
    text-align:center;
    margin-top: 72%;
    margin-left: 14%;
    margin-right: 14%;
    width: 177px;
    height: 153px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
}
/* отзывы ==============================================*/

 .reviews {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    max-width: 100%;
    position: relative; 
    height: 792px;
    background: url('../images/Clapperboard.jpg') no-repeat center / cover, pink;
    overflow: hidden;
    margin-top: 30px;
    padding-top: 140px;
}
.reviews::before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #FFFFFF;
}
.reviews::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 100vw solid #FFFFFF;
}
.reviews__container {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
   /* margin-top: 100px;*/
}
.reviews__block {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    position: relative;
}
.reviews__suptitle {
    margin-top: 40px;
    width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #FFFFFF;
}
.reviews__first,
.reviews__third {
    width: 210px;
    height: 284px;
    position: absolute;
    background: #97B13C;
    border-radius: 6px;
    margin-top: 22px;

}
.reviews__first img,
.reviews__third img {
    width: 210px;
    height: 152px;
    position: absolute; 
    border-top-left-radius: 9px;
    border-top-right-radius: 9px; 
}
.reviews__second {    
    width: 245px;
    height: 332px;
    position: absolute;
    background: #97B13C;
    border-radius: 10px;
    margin-left: 302px; 
}
.reviews__second img {
    width: 245px;
    height: 178px;
    position: absolute;
    background: #97B13C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.reviews__first {
    margin-left: 0;    
}

.reviews__third {
    margin-left: 640px;
}
.reviews__svg_left,
.reviews__svg_right {
    position: absolute;
    margin-top: 55px;
    z-index: 3;
}
.reviews__svg_left {
    margin-left: 255px;
}
.reviews__svg_right {
    margin-left: 578px;
}
.reviews__third b,
.reviews__third q,
.reviews__third p,
.reviews__second b,
.reviews__second q,
.reviews__second p,
.reviews__first b,
.reviews__first q,
.reviews__first p {
    position: absolute;
    color: #FFFFFF;
    z-index: 2;
}
.reviews__third b,
.reviews__first b {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.27;
    margin-top: 175px;
    margin-left: 20px;
}
.reviews__third q,
.reviews__first q {
    width: 171px;
    height: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.3;
    text-align: left;
    margin-top: 200px;
    margin-left: 20px;
}
.reviews__third p,
.reviews__first p {
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 1.25;
    margin-top: 265px;
    margin-left: 158px;
}
.reviews__second b {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.27;
    margin-top: 204px;
    margin-left: 20px;
}

.reviews__second q {
    width: 220px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.27;
    text-align: left;
    margin-top: 240px;
    margin-left: 20px;
}

.reviews__second p {
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 1.33;
    margin-top: 310px;
    margin-left: 184px;
}

/* обратная связь ==============================================*/

.feedback {
    width: 767px;
    min-height: 527px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background: url('/images/spectators.jpg') 0 0/auto 100% no-repeat;    
    border-radius: 5px;
    overflow: hidden;
}

.feedback__block {
    float: left;
    width: 50%;
    margin-left: 383px;
}
.feedback__form {
    margin-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.28;
    color: #A3CC40;
}
.feedback__name,
.feedback__place-number,
.feedback__opinion {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.27;
    color: #A1A1A1;
    width: 344px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
}

.feedback__block label {
    Width: 344px;
}

.feedback__checkbox {                   /*check*/           
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.3;
    color: #333333;
    padding-left: 2.5em;
    margin-bottom: 30px;
}
.feedback__checkbox:hover {
    color: #A3CC40;
}
.feedback__checkbox:hover span{
    box-shadow: 0 0 0 0.1em #4C4D4F;
}
.feedback__input {                   /*check__input*/   
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.feedback__fake-checkbox {                   /*check__box*/ 
    position: absolute;
    margin-left: -2.5em;
    width: 18px;
    height: 17px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1em #A3CC40;
    background-color: #FFFFFF;
}

.feedback__input:checked + .feedback__fake-checkbox{
    background-color: #4C4D4F;
    background-image: url("data:image/svg+xml,%3Csvg width='0.9375em' height='0.813em' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.60581 6.79378L1.46056 3.93033L0.787354 4.66979L4.70255 8.23421L10.8223 0.94099L10.0562 0.298203L4.60581 6.79378Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feedback__button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 6px;
    width: 344px;
    Height: 57px;
    margin-top: 46px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.feedback__button:hover {
    color: #A3CC40;
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
    border-radius: 6px;
}



/* карта =================================================================*/
.map {
    width: 973px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 67px;
    overflow: hidden;
}
.map img {
    max-width: 100%;
}

/* подвал ====================================================*/

.footer {
    max-width: 100%;
    height: 363px;
    background-color: #A3CC40;
    position: relative;    
}
.footer__container {
    width: 947px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    position: relative;
    color: #FFFFFF; 
}
.footer__block {
    float: left;
}
.footer__block p {
    margin-top: 30px;
    width: 269px;
}
.footer__part {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 30px;

}
.footer__menu,
.footer__contact {
    margin-top: 30px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 12px; 
    height: 170px;
    line-height: 1.33;
}
.footer__menu {
    margin-left: 530px;
    float: left;
    max-width: 170px;

}
.footer__menu a {
    text-decoration: none;
    margin-bottom: 10px;
}
.footer__contact {
    margin-left: 738px;
    max-width: 195px;
}
.footer__contact a {
    margin-top: 20px;
    margin-bottom: 15px;

}
.footer__brand {
    width: 947px;
    margin-top: 90px;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.27;
 
}
.footer__social-media {
    
    display: inline-block;
    position: absolute;
    margin-left: -269px;
    margin-top: 176px;
}
.footer__link {
    display: grid;
    place-items: center;
    width: 31px;
    height: 31px;
    float: left;
    background: #BEE956;
    border-radius: 100%;
    margin-right: 30px;
    transition: all 0.2s ease;
}
.footer__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #4C4D4F;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}


