/** Reset */
/** Шрифты */
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/100IBMPlexSans-Thin.eot');
	src: local('☺'), url('../fonts/100IBMPlexSans-Thin.woff') format('woff'), url('../fonts/100IBMPlexSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/400IBMPlexSans-Regular.eot');
	src: local('☺'), url('../fonts/400IBMPlexSans-Regular.woff') format('woff'), url('../fonts/400IBMPlexSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/500IBMPlexSans-Medium.eot');
	src: local('☺'), url('../fonts/500IBMPlexSans-Medium.woff') format('woff'), url('../fonts/500IBMPlexSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/600IBMPlexSans-SemiBold.eot');
	src: local('☺'), url('../fonts/600IBMPlexSans-SemiBold.woff') format('woff'), url('../fonts/600IBMPlexSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
    font-display: swap;
	font-family: 'IBM Plex Sans';
	src: url('../fonts/700IBMPlexSans-Bold.eot');
	src: local('☺'), url('../fonts/700IBMPlexSans-Bold.woff') format('woff'), url('../fonts/700IBMPlexSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/** Общие стили ========================================================*/
html {
    font-size: 1.78vw;
}
.cinema{
    font-family: 'IBM Plex Sans', sans-serif;
}
.container {
    width: 42.5rem;
    margin: 0 auto;
}

.part {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.29;
    color: #A3CC40;
}
.comma {
    margin-left: -0.15rem;
}
/** Сетка макета */
/** Компоненты */
/** Медиа – правила */


/* Шапка ========================================================*/

.header {      
    max-width: 47.5rem    ;  
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2.5rem; 
    padding-bottom: 0.05rem;
}
.header__body {
    display: flex;
    flex-wrap: nowrap;
}
.header__link{    
    padding-right: 2.25rem; 
    flex-basis: 7.8rem;
}
.header__logo {
    width: 7.8rem;
    height: 2rem;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 37.5rem;
}
.mobile__svg {
    z-index: 1000;
}
.header__contact {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    transition: 0.2s;
    margin-bottom: 0.8rem;
    margin-top: -0.09rem;
}
.header__contact:hover {
    color: #a3cc40;
}

.cinema__mail{
    text-decoration: none;
    color:#FFFFFF;
    border-bottom: 0.05rem solid;
    display: inline;
    margin-right: 2.4rem;
    transition: 0.2s;
}
.cinema__mail:hover {
    color: #a3cc40;
}
.cinema__tel,
.cinema__addres {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    text-decoration: none;
    transition: 0.2s;
}
.cinema__tel {
    margin-right: 2.55rem;
}
.cinema__addres {
    margin-right: 2.6rem;

}
.cinema__tel:hover,
.cinema__addres:hover {
    color: #a3cc40;
}
.phone svg{
    fill: #333333;
    padding-left: 0.4rem;
    /*margin-left: 0px;
    vertical-align: middle;  */
}
.phone  span {
    padding: 0.4rem 0.19rem 0rem 0.4rem;
}
.cinema__call {
    width: 6.5rem;
    height: 1.05rem;
    background: #FFFFFF;
    border: 0.05rem solid #EDEDED;
    box-sizing: border-box;
    border-radius: 0.3rem;
    margin-right: 5.95rem;
}
.phone{    
    padding: 0.15rem 0 0.05rem 0.01rem;
    text-decoration: none;    
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    transition: all 0.2s ease;
    
       
}
.phone:hover {
    background: #A3CC40;
    border: 0.05rem solid #EAEDE2;
    color: #FFFFFF;
}
.phone:hover svg{
    fill: #FFFFFF;
}
.header__language {
    display: inline-flex;
    margin-bottom: 0.8rem;
    margin-top: -0.2rem;
}
.header__lang{   
    display: inline;
    width: 1.3rem;
    height: 0.5rem;
    font-size: 0.6rem;
    line-height: 1.33;
    position: relative;
	color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    text-transform:uppercase;
    
}
.header__down-arrow{
    fill: #FFFFFF;
    vertical-align: bottom;
}
.header__lang-subtitle {
    width: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}
.header__lang-subtitle ul {
    display: none;
    background-color: #fff;
    border: 0.05rem solid #f8f8f8;
    position: absolute;
    top: 0.75rem;    
    border-radius: 0.25rem;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}
.header__lang:hover ul {
    display: block;
    padding: 0 0.1rem 0 0.1rem;
}
.header__lang ul li {
    list-style: none;
}
.header__lang ul li a{
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease;
}
.header__lang ul li a:hover,
.header__lang_title:hover  {
    color: #A3CC40;
}

.header__block {
    width: 1.3rem;

    display: inline-flex;
    box-sizing: border-box;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
 }
.header__lang:hover svg {
    transform: rotate(180deg); 
    fill: #A3CC40;
    
}
.header__lang:hover span {
    color: #A3CC40;
}

.header__menu  {
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
}  
.header__event,
.header__past {
    margin-right: 3.65rem;
}
.header__speakers {
    margin-right: 3.5rem;
}
.header__sponsors {
    margin-right: 3.9rem;
}
.header__menu  ul{
    list-style:none;
    height: 0.8rem;
    display: inline-flex;
}  
.header__menu  ul li a{
    color:#fff;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 0.6rem;
    line-height: 1.33;
    height: 0.6rem;
    cursor: pointer; 
}  
.header__menu  ul li a:hover{
    color: #a3cc40;
    border-bottom: 0.05rem solid;
    padding-bottom: 0.05rem;
}

/*  Приветствие ========================================================*/


.intro {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background: url('../images/cinema_hall.jpg') no-repeat center / cover, pink;
    overflow: hidden;
}
.intro::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 6.25rem solid transparent;
    border-right: 100vw solid #FFFFFF;
}
.cover {
    flex: 1;
    padding-bottom: 2.65rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /*width: 100%;
    margin: 7.08rem auto 0;
    text-align: center;
    margin-bottom: 0.05rem;*/
}
.intro__subtitle {
    color: #FFFFFF;
}
.intro__title {
    font-style: normal;
    font-weight: 100;
    font-size: 3.4rem;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1rem;

}

.intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 2.05rem;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10rem;
}
.welcome__footer {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 0.5rem;
    width: 21.3rem;
    height: 11.05rem;
    margin-left: 50%;
    padding-bottom: 0.25rem;
    margin-top: -7rem;
    
}
.welcome__footer-point {
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 2.15rem;
    color: #333333;
    text-align: left;
}
.welcome__footer-item {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 0.7rem;
    color: #333333;
    text-align: left;
}
.welcome__footer-item:last-child {
    padding-top: 0.55rem;
}
/* о нас ========================================================*/
.about-us {
    margin-top: 1.5rem;
    position: relative;
    margin-bottom: 7rem;
}
.about-h2 {
    margin-bottom: 3.1rem;
}

.about-us__container {
    margin-top: 0rem;
}

.about-us__block {
    overflow: hidden;
    margin: 0 -1.4rem;        
}
.about-us__part {
    padding-top: 1rem;
    float: left;
    box-sizing: border-box;
    color: #333333;
    width: 33.333%;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    transition: all 0.2s ease;
}
.about-us__part:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}
.about-us__part img {
    width: 100%;
    height: 8.45rem;
}
.about-us__part {
    display: flex;
    flex-direction: column;
}
.about-us__title {    
    width: 12.25rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 2rem;
}
.about-us__subtitle { 
    width: 12.25rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.3;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1.8rem;
}

/* расписание  ========================================================*/


.schedule__block {
    margin-top: 4.1rem;
}
.schedule__table {
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
}
.schedule__table th {
    background: #A3CC40;
    padding: 0.5rem 0rem 0.5rem 0rem;
    text-align: left;  
    
}
.schedule__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    color: #fff;
}
.schedule__link svg {
    display: inline-block;
    vertical-align: middle;
}
.schedule__table tr {
    height: 2.25rem;
}
.schedule__table td {
    /*padding: 0.75rem 0rem 0.5rem 0rem;*/
    text-align: left;  
    color: #ffff;
    font-size: 0.7rem;
    line-height: 1.3;
    padding-top: 0.75rem;    
}

.schedule__checkbox {                   /*check*/           
    font-style: normal;
    font-weight: normal;
    width: 4rem;
    height: 2.25rem;
}
.schedule__input {                   /*check__input*/   
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.schedule__time {
    width: 4rem;
}
.schedule__start {
    width: 11.9rem;
}
.schedule__name {
    width: 11.9rem;
}

.schedule__genre {
    width: 14.65rem;
}
.schedule__name svg {
    margin-left: 0.4rem;
}
.schedule__fake-checkbox { 
    cursor: pointer;
    display: inline-block;
    place-items: center;
    /*
    margin-left: 0.2rem;
    /*
    position: absolute;*/
    width: 3.5rem;
    height: 1.5rem;
    background: url('../images/whiteCheckMark.svg') no-repeat  40% 40% / cover;
    background-size: 0.5rem 0.4rem;
    /*margin: -0.6rem -0.1rem -0.6rem 0.2rem;*/
    margin-bottom: -0.6rem;
    margin-top: -0.6rem;
}

.schedule__input:checked + .schedule__fake-checkbox {
    background: url('../images/greencheckMark.svg') no-repeat  40% 40% / cover;
    background-repeat: no-repeat;
    background-size: 0.5rem 0.4rem;

}

.schedule__table td {
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.3;
}
.schedule__dark-ground {
    background: #373737;
}
.schedule__gray-ground {
    background: #4C4D4F;
}
.schedule__table td{
    background: #373737;
}
.schedule__table tr:nth-child(2n) td {
    background: #4C4D4F;
}
.schedule__subtitle {
    margin-top: 1.3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 0.8rem;
    text-align: center;
}

/* Подарки ===============================================*/


.present {
    margin: 0 auto;
    text-align: right;
    position: relative;
    background: url('../images/Filmstock.jpg') no-repeat center / cover, pink;
    padding-bottom: 7rem;
    overflow: hidden;
}
.present::before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    border-bottom: 6rem solid transparent;
    border-left: 100vw solid #FFFFFF;
}
.present::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 4.75rem solid transparent;
    border-right: 100vw solid #FFFFFF;

}
.present__container {
    padding-top: 6rem;
}
.present__container h2 {
    color: #FFFFFF;
}
.present__container h2 {
    color: #FFFFFF;
}
.presnt__block {
    padding-top: 2rem;
    width: 27rem;
    float: right;
}
.present__title {
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.27;
    color: #FFFFFF;
}
.present__middle {
    text-indent: 0.75rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.present__button {
    float: right;
    padding-top: 1.7rem;
}
.present__btn {
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 0.3rem;
    width: 9.5rem;
    height: 1.55rem;
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all 0.2s ease;
    border: none;
  
}
.present__btn:hover {
    color: #A3CC40;
    background: #FFFFFF;
    border: 0.05rem solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0 2px 9px rgba(144, 210, 61, 0.3);
    border-radius: 0.3rem;
}
.present__round {
    margin-top: 3.35rem; 
    padding-bottom: 2rem; 
}
.present__inner {
    position: relative;
    z-index: 1;
     
}
.present__gift {
    position: absolute;
    border-radius: 100%;
    width: 13.8rem;
    height: 13.8rem;
    top: 0;
    left: 0;
    
}
.present__gift {
    position: absolute;
    border-radius: 100%;
    max-width: 13.8rem;
    max-height: 13.8rem;

}
.present__gift img {
    width: 13.8rem;
    height: 13.8rem;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
}
/* Фильмы ==================================================*/

.playbill {
    margin-top: 3rem;
}
.playbill_suptitle {
    margin-top: 1.4rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.27;
    color: #333333;
}
.playbill__block {    
    margin-top: 3.2rem; 
}
.playbill__movies {    
    display: grid;
    justify-content: center;
    /*grid-template-areas: 
        "film-1 film-2 film-3"
        "film-4 film-5 film-6"
        "film-7 film-8 film-9";*/
    grid-template-rows: repeat(auto-fill, 14.166rem);
    grid-template-columns:repeat(auto-fill, 14.166rem);
}
.playbill__movies a { 
    overflow: hidden;   
    box-sizing: border-box;
    width: 14.166rem;
    height: 14.166rem;
}
.playbill__green {
    padding: 0.9rem 1.2rem 0.5rem 1.15rem; 
    width: 100%;
    height: 100%;  
    transform: translateY(100%);
    transition: all 0.2s ease;
    color: #FFFFFF;
    display: flex; 
    flex-direction:column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.playbill__gray {
    background: rgba(22, 22, 22, 0.8);
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;    
}
.film-1 {         
    /*background: url(../images/film1.jpg)  no-repeat center / cover;
    grid-area: film-1;*/
}
.film-2 {         
    background: url(../images/film2.jpg)  no-repeat center / cover;
    /*grid-area: film-2;*/
}
.film-3 {         
    background: url(../images/film3.jpg)  no-repeat center / cover;
    /*grid-area: film-3;*/
}
.film-4 {         
    background: url(../images/film4.jpg)  no-repeat center / cover;
    /*grid-area: film-4;*/
}
.film-5 {         
    background: url(../images/film5.jpg)  no-repeat center / cover;
    /*grid-area: film-5;*/
}
.film-6 {         
    background: url(../images/film6.jpg)  no-repeat center / cover;
    /*grid-area: film-6;*/
}
.film-7 {         
    background: url(../images/film7.jpg)  no-repeat center / cover;
    /*grid-area: film-7;*/
}
.film-8 {         
    background: url(../images/film8.jpg)  no-repeat center / cover;
    /*grid-area: film-8;*/
}
.film-9 {         
    background: url(../images/film9.jpg)  no-repeat center / cover;
    /*grid-area: film-9;*/
}
.playbill__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 1.31;
    padding-bottom: 0.55rem;

}
.playbill__subtitle {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.273;

}
.playbill__movies a:hover .playbill__gray {
    background: rgba(144, 210, 61, 0.4);
}
.playbill__movies a:hover .playbill__green {
    transform: translateY(0);

}

/* покупки ===============================================*/

.shopping {
    margin-top: 4rem;
}
.shopping__suptitle {
    margin-top: 1.4rem;
    margin-bottom: 2.1rem;
    width: 27.4rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.27;
    color: #333333;
}

.shopping__block {
    overflow: hidden;
    margin: 0 -1.4rem;
}
.shopping__link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 33.333%;
    padding: 0 1.4rem;
    float: left;    
    box-sizing: border-box;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    cursor: pointer;
}

/*.shopping__green {
    background: rgba(163, 204, 64, 0.8);
    height: 4.4rem;
}*/
.shopping__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.shopping__link:hover .shopping__green {
    height: 4.46rem;
}

.shopping__part {
    color: #333333;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.25));
    border-radius: 0.5rem;
    overflow: hidden;
    height: 16.55rem;
    min-width: 12.25rem;

    display: grid;
    grid-template-rows: 2fr 1fr 1.1fr;
    grid-template-areas: 
    "head"
    "body"
    "food";
}
.shopping__present_one {
    background: url(../images/present1.jpg) no-repeat center / cover;  
}
.shopping__present_two {
    background: url(../images/present2.jpg) no-repeat center / cover;
}
.shopping__present_three {
    background: url(../images/present3.jpg) no-repeat center / cover;
}
/*.shopping__part img {
    max-width: 12.25rem;
    height: 16.55rem;
    padding-top: 0.1rem;
}*/
.shopping__title {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;

    grid-area: food;
    width: 12.28rem;
    height: 100%;
    background: rgba(163, 204, 64, 0.8);
    position: relative;
    grid-area: food;
    width: 12.28rem;
    height: 100%;
    z-index: 1;
}
.shopping__title::before {
    position: absolute;
    top: -3.25rem;
    content: "";
    border-top: 3.25rem solid transparent;
    border-right: 12.28rem solid rgba(163, 204, 64, 0.8);
    z-index: -1;

}
.shopping__gift {
    justify-content: center;
    align-items: center;
    text-align: center;

    display:block;
    width: auto;
    height: 100%;
    margin: 0 auto; 
}

.shopping__green {
    background: rgba(163, 204, 64, 0.8);
    position: absolute;
    margin-top: 12.25rem;
    width: 12.25rem;
    height: 4.4rem;
}
.present__one {
    margin-top: 1rem;
}
.present__three {
    margin-top: 0.5rem;
}
.present__two {
    margin-top: -0.5rem;
}
/* отзывы ==============================================*/

 .reviews {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem;
    max-width: 100%;
    position: relative; 
    min-height: 30rem;
    background: url('../images/Clapperboard.jpg') no-repeat center / cover, pink;
    overflow: hidden;
    margin-top: 1.5rem;
    padding-top: 7.2rem;
    overflow: hidden;

}
.reviews::before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    border-bottom: 4.1rem solid transparent;
    border-left: 100vw solid #FFFFFF;
}
.reviews::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    border-top: 3rem solid transparent;
    border-right: 100vw solid #FFFFFF;
}
.reviews__container {
    margin-top: -1rem;
}
.reviews__block {    
    position: relative;
}
.reviews__box {
    margin-top: 3.8rem;
}
.reviews__suptitle {
    margin-top: 1.4rem;
    width: 27.4rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.27;
    color: #FFFFFF;
}
.reviews__first,
.reviews__second,
.reviews__third {
    width: 10.5rem;
    height: 14.2rem;
    
    background: #97B13C;
    border-radius: 0.45rem;
    
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
}
.reviews__first img,
.reviews__third img,
.reviews__second img  {
    width: 100%;
    height: 7.6rem;
}
.revieos__block {
    color: #FFFFFF;
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    height: 100%;

}
.reviews__third b,
.reviews__first b,
.reviews__second b {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.27;
}
.reviews__third q,
.reviews__first q,
.reviews__second q {
    margin-top: 0.3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1.3;
    text-align: left;
    flex-grow:1;
}
.reviews__third p,
.reviews__first p,
.reviews__second p  {
    font-style: normal;
    font-weight: 300;
    font-size: 0.4rem;
    line-height: 1.25;
    align-self:flex-end;
}



/* обратная связь ==============================================*/

.feedback {
    width: 38.35rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4.3rem;
    background: url('../images/spectators.jpg') 0 0/auto 100% no-repeat;    
    overflow: hidden;
    box-shadow: 0.4rem 0.45rem 1.95rem rgba(185, 185, 185, 0.37);
    border-radius: 1rem;
}

.feedback__block {
    float: left;
    width: 17.2rem;
    margin-left: 19rem;    
}
.feedback__form {
    margin-top: 1.7rem;
    margin-bottom: 1.1rem;
    margin-left: 3.3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.28;
    color: #A3CC40;

}

.feedback__name_input,
.feedback__place-number select,
.feedback__opinion textarea {
    background: #DEDEDE;
    border-radius: 0.25rem;
    color: #A1A1A1;
    font-size: 0.75rem;
    line-height: 1.27;
    padding-left: 0.7rem;
    padding-top: 0.1rem;
    border: none;
    width: 17.2rem;
    box-sizing: border-box;
    height: 2rem;

}
.feedback__opinion textarea {
    padding-top: 0.7rem;
}
.feedback__name,
.feedback__place-number {
    margin-bottom: 1.5rem;
 }
.feedback__name input,
.feedback__seat option,
.feedback__opinion textarea {
    font-family: 'IBM Plex Sans', sans-serif;

}
.feedback__opinion {
    margin-bottom: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;

}
.feedback__opinion textarea {
    resize: none;
    min-height: 6rem;
}


.feedback__checkbox {    /*check*/   
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 2.5rem;
    font-style: normal;
    font-weight: normal;
    cursor: pointer; 
    padding-top: 0.05rem;
}
.feedback__seat {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.5rem;
    outline: none;
    width: 100%;
    transition: all 0.2s ease;
}
.feedback__seat::-ms-expand {
    display: none;
}
.feedback__place-number {
    position: relative;
 }
.feedback__place-number::before {
    content: "";
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
    /*transform: translateY(-50%);*/
    /*display: block;*/
    width: 0.7rem;
    height: 0.4rem;
    background: url('../images/VectorArrow.svg') no-repeat  center / cover;
    background-size: 0.6rem 0.3rem;
    pointer-events: none;
    transition: all 0.2s ease;

}
.feedback__input { 
    display: inline;
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    clip: rect(0px, 0px, 0px, 0px);
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/  

}
.feedback__fake-checkbox {     
    float: left;
    display: grid;
    place-items: center;
    
    margin-right: 0.25rem;
    margin-top: -0.1rem;
    width: 0.9rem;
    height: 0.85rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.1rem #A3CC40;
    background-color: #FFFFFF;
    /*background: url('../images/whiteCheckMark.svg') no-repeat  50% 50% / cover;*/
}

.feedback__input:checked + .feedback__fake-checkbox {
    background: url('../images/greencheckMark.svg') no-repeat  50% 50% / cover;
    background-size: 0.5rem 0.4rem;
}
.feedback__bth {
    /*width: 0.05rem;
    height: 0.05rem;*/
    margin-bottom: 1.65rem;
}
.feedback__button {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 0.3rem;
    width: 17.2rem;
    Height: 2.85rem;
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    
}
.feedback__button:hover {
    color: #A3CC40;
    background: #FFFFFF;
    border: 0.05rem solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0 0.1rem 0.45rem rgba(144, 210, 61, 0.3);
    border-radius: 0.3rem;
}
/* карта =================================================================*/
.map {
    width: 48.65rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    height: 19.95rem;
    overflow: hidden;
}
.map img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

/* подвал ====================================================*/

.footer {
    background: #A3CC40;
    overflow: hidden;
    margin-top: 0rem;
}
.footer__container {
    width: 47.35rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4.15rem;
    color: #FFFFFF; 
    display: flex;
}
.footer__block {
    width: 17.5rem;
}
.footer__block p {
 	justify-content: left;
	align-items: center;
    width: 13.45rem;
    font-size: 0.7rem;
    line-height: 1.29;
    margin-top: 0.65rem;
    font-style: normal;
    font-weight: normal;
 }
.footer__part {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.33;
    color: #FFFFFF;
    margin-bottom: 1.15rem;
    

}
.footer__menu,
.footer__contact {
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem; 
}
.footer__menu {
    max-width: 10rem;
    margin-left: -1.95rem;
}
.footer__menu ul {
    margin-top: 2.25rem;
}
.footer__menu li {
    margin-bottom: 0.6rem;
}
.footer__menu a {
    font-size: 0.6rem;
    line-height: 1.33;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 0.8rem;
    padding: 0.5rem;
    margin-left: -0.75rem;
    color: #FFFFFF;
    cursor: pointer; 
    text-transform: uppercase;

}
.footer__menu a:hover {
    background: #DCDCDC;
    text-decoration: underline;
}
.footer__contact {
    width: 10rem;

}
.footer__contact a,
.footer__contact span,
.footer__contact address {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 0.8rem;
}
.footer__contact a {
cursor: pointer; 
}
.footer__social-media {
	display: flex;
 	justify-content:space-between;
    width: 14.1rem;
    height: 1.55rem;

    margin-top: 1.25rem;
}
.footer__social-media svg {
    fill: #FFFFFF;
}
.footer__link {
    display: grid;
    place-items: center;
    width: 1.55rem;
    height: 1.55rem;
    float: left;
    background: #BEE956;
    border-radius: 100%;
    transition: all 0.2s ease;
    
}
.footer__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #4C4D4F;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255);

}
.footer__link:hover svg {
    fill: #BEE956;
}
.foot {
    margin-top: 2.4rem;
    margin-bottom: 1.5rem;
}
.footer__row {
	display: flex;
 	justify-content: left;
	align-items: center;
    margin-right: 0 auto;
    width: 47.35rem;
    margin-right: auto;
    margin-left: auto;
}
.footer__text {
    color: #FFFFFF;
	font-size: 0.75rem;
	letter-spacing: 0.015rem; 
}
.footer__block2 {
	flex: 0 1 20%;
	display: flex;
    margin-left: 4.45rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
}

.vertical__subtitle,
.footer__part {
    text-transform:uppercase;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
}

.footer__tel,
.cinema__nav {
    margin-bottom: 1rem;
}
.footer__cart li {
    display: block;
    margin-bottom: 0.6rem;
}
.footer__contact address {
    display: inline;
}

/*#menu__toggle {
    display: inline;
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    clip: rect(0px, 0px, 0px, 0px);
    overflow:hidden;
    overflow-y:hidden;  
    overflow-x:hidden;  
  }
*/
  .menu__btn {
    display: none; 
    align-items: center;  
    position: relative;
    width: 0.05rem;
    height: 0.05rem;
    clip: rect(0px, 0px, 0px, 0px);
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
    cursor: pointer;
    
  }
  .menu__btn span,
  .menu__btn::before,
  .menu__btn::after {
    display: block;
    position: absolute;
    height: 0.15rem;
    box-shadow: 0 0 0.09rem rgba(0,0,0,0.5); /* Параметры тени */
    background-color: #FFFFFF;
    height: 0.15rem;

  }
  .menu__btn::before {
    content: '';
    top: 0;
    transition: all 0.2s ease;
    width: 100%;
  }
  .menu__btn::after {
    content: '';
    bottom: 0;
    transition: all 0.2s ease;
    width: 100%;

  }
  .menu__btn span {
      left: 0;
      width: 100%;
      margin: auto 0;
  }

  /* pop-up============================================================= */
  .hidden {
    display: none;
}

.pop-up {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.24);
    z-index: 1000;
}

.close {
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    border: none;
    background-color: transparent;
    width: 1.75rem;
    height: 1.75rem;
}
 
.form_wrap {
    position: relative;
    background-color: #fff;
    max-width: 30rem;
    height: 21.25rem;
    margin: 6rem auto;
    border-radius: 2rem;
}

.form_prize {
    padding: 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn_wrapper_prize {
    display: flex;
    justify-content: center;
}

.button_form_prize {
    width: 11.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1.2rem;
}

.prize__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #A3CC40;
    padding-bottom: 1.1rem;
}
.prize__input { 
    display: inline;
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    clip: rect(0, 0, 0, 0);
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/  

}
.prize__fake-checkbox {     
    float: left;
    display: grid;
    place-items: center;    
    margin-right: 0.25rem;
    margin-top: -0.1rem;
    width: 0.9rem;
    height: 0.85rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.1rem #A3CC40;
    background-color: #FFFFFF;
}
.prize__input:checked + .prize__fake-checkbox {
    background: url('../images/greencheckMark.svg') no-repeat  50% 50% / cover;
    background-size: 0.5rem 0.4rem;
}
.prize__checkbox {    /*check*/   
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 0.5rem;
    font-style: normal;
    font-weight: normal;
    cursor: pointer; 
    padding-top: 0.05rem;
}
.input_block {
    position: relative;
    border-radius: 0.25rem;

}
.input_lable {
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    font-size: 0.75rem;
    color: #A1A1A1;
    pointer-events: none;
}
.input__filled .input_lable {
    top: -0.5rem;
    left: 0.3rem;
    background: #FFFFFF;
    padding: 0 0.4rem;
}
.input__input {
    font-size: 0.75rem;
    padding: 0.6rem 0.8rem;
    background-color: #DEDEDE;
    border: 0.05rem solid #DEDEDE;
    border-radius: 0.25rem;

 
    width: 94%;
}
.input__filled .input__input {
    background-color: #FFFFFF;
    border: 0.05rem solid #c4c4c4;
    box-shadow: 0 0 0 0.25rem rgba(170, 243, 77, 0.52);
}

.input__error .input__input,
select.input__error {
    box-shadow: 0 0 0 0.25rem rgba(243, 77, 77, 0.52);
}

.input__error_mmsg{
    position: absolute;
    color: red;
    font-size: .5rem;
    top: 1.46rem;
    left: 0.8rem;
    pointer-events: none;
}
.feedback-form__name {
    margin: 0 0 .65rem;
}
.feedback-form__place {
    margin: 0 0 1.5rem;
    cursor: pointer;
}

.feedback-select {
    color: #A1A1A1;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #DEDEDE url(../images/arrow_down.svg) no-repeat center right 0.6rem;
    border: none;
}

.form-field {
    width: 100%;
    padding: 0.6rem 0.8rem 0.55rem;
    background-color: #DEDEDE;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}
.input_select_selected {
    border-color: #FFFFFF;
    box-shadow: 0 0 0 0.25rem rgba(170, 243, 77, 0.52);
    background-color: #FFFFFF;
}
.feedback-form__button {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 17.2rem;
    background: #A3CC40;
    border-radius: 0.3rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    border: 0;
    transition: .2s;
}
.feedback-form__button:active {
    background: #FFFFFF;
    color: #A3CC40;
    border: 0.05rem solid rgba(163, 204, 64, 0.62);
    box-shadow: 0 0.1rem 0.45rem rgba(144, 210, 61, 0.3);
}

/*  кнопка закрыть+++===========    =================================*/


.cl-btn-7 {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: right;
    
}
.cl-btn-7:before {
    content: '+';    
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 2rem;
    line-height: 1;
    top: -0.18rem;
    left: 0.385rem;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    color: #FFFFFF;

}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #A3CC40;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(1);
}
.cl-btn-7:hover:after {
    transform: scale(0.01);
}
.cl-btn-7:hover:before {
    transform: scale(1.5) rotate(45deg);
    color: #A3CC40;
}



/* фильмы по отдельности ============================*/

.singleBlock {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
    /*min-height: 100vh;*/
    background: url('../images/single.jpg') no-repeat center / cover, pink;
    overflow: hidden;
    align-items: center;
    padding-bottom: 1.5rem;
}

.block__wrap_all {
    grid-area: col2 / col2 / col2 / col2;
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.13);
    padding: 1.25rem 1.15rem 0;
}
.block__wrap_img {
    display: flex;
    background: rgba(229, 229, 229, 0.25);
}
.block_img {
    box-sizing: content-box;
    width: 50%;
    padding: 2rem;
}
.block_img img {
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    border-right: 0.05rem solid rgba(0, 0, 0, 0.13);
}
.block_desc {
    padding-left: 2rem;
    margin-top: 0.5rem;
    width: 50%;
    padding-right: 0.75rem;
}
.header_film {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    color: rgb(51, 51, 51);
}
.rating {
    margin-top: 2.25rem;
}
.appraisal {
    display: flex;
}
.rating_stars_wrap {
    display: flex;
    margin-right: 0.5rem;
}
.rating_stars {
    color: rgb(104, 114, 80);
    cursor: pointer;
    display: flex;
}
#stars {
    width: 0.8rem;
    height: 0.8rem;
    padding-right: 0.15rem;
}
.star-selected {
    color: rgb(163, 204, 64);
}

.rating_stars {
    color: #687250;
}
.rating_stars:hover {
    color: #A3CC40;
}

.rt-star:hover ~ .rt-star {
    color: #687250;
}
.like-icon {
    color: #687250;;
    cursor: pointer;
    margin-bottom: -0.2rem;
}

.svg-helper {
    margin-bottom: -0.2rem;
}
.like-icon:hover {
    color: #A3CC40;
}
.text_decor {
    font-weight: 600;
    font-size: 0.55rem;
    line-height: 1.2;
    color: rgb(76, 77, 79);
}
.like-icon--liked {
    color: #A3CC40;
}

.stars {
    font-size: 0.65rem;
    line-height: 0.85rem;
    color: rgb(161, 161, 161);
    margin-left: 0.5rem;
}
.rating_wrap {
    display: flex;
    align-items: baseline;
}
.rating_from {
    font-size: 0.65rem;
    line-height: 1.2;
    color: rgb(161, 161, 161);
}
.film_info {
    display: flex;
    margin-top: 1.5rem;
}
.film_info__blocks {
    margin-right: 1.9rem;
}

.film_desc__block {
    font-size: 0.6rem;
    line-height: 1.2;
    color: rgb(161, 161, 161);
    margin-top: 1.75rem;
}
.table_fiml__info {
    margin-top: 1.5rem;
}
.head_info {
    font-weight: 600;
    font-size: 0.55rem;
    line-height: 1.2;
    color: rgb(163, 204, 64);
    padding: 0.4rem;
}
.head_desc__bold {
    font-weight: 600;
    color: rgb(47, 46, 46);
}
.head_desc {
    font-size: 0.55rem;
    line-height: 1.2;
    color: rgb(105, 105, 105);
}
.head__other_film__wrapper {
    margin: 2.5rem auto;
}
.head__other_film {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: rgb(161, 161, 161);
    width: 49.5rem;
    margin: 0 auto;
}
.block__other_films {
    width: 42.5rem;
    margin: 1.25rem auto;
}
.head__genre_film {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: rgb(51, 51, 51);
    display: inline;

    
}
.head__other_list {
    font-style: normal;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 0.65rem;
    color: #A3CC40;
    display: inline-block;

}
.head__genre_box {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.wrap_block_carousel__img {
    width: 6.4rem;
    height: 7.25rem;
}
.name_block_film {
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: rgb(163, 204, 64);
    margin-top: 0.5rem;
    display: block;
}
.author_year_block_film {
    font-weight: 300;
    font-size: 0.35rem;
    line-height: 0.45rem;
    color: rgb(51, 51, 51);
    margin-top: 0.25rem;
    display: block;
}
.film_block_carousel {
    width: 6.5rem;
}

/* TO-TOP======================================================*/
.strelka-top-2 {
    width: 4rem;
    height: 3rem;

}
.strelka-top-2 path {
    fill: #FFFFFF;
    stroke-width: .6;
    stroke: #696969;   
    transition: fill 0.5s ease-out;
    
}
.strelka-top-2 {
    transform: rotate(270deg) scale(1.1);

}
.strelka-top-2 path:hover {
    fill: #A3CC40;
    transform: scale(1.1);
    bottom: 0.6rem;
}
.toTop {
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: 1rem;
    z-index: 15;
    box-sizing: unset;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
}