div {
    font-style: italic;
    font-weight: 700;
    color: brown;
    text-align: center;
}
.div-class {
    font-style: normal;
    font-weight: 600;
    color: green;
    text-align: left; 
}
#div-id {
    font-style: normal;
    font-weight: normal;
    color:blue;
    text-align: right; 
}
#p-id {
    font-style: normal;
    font-weight: 300;
    color:blue;
    text-align: right; 
}
.div-class span {
    border-color: chartreuse;
    color: red;
}