@font-face {
    display: swap;
	font-family: '100IBMPlexSans-Thin';
	src: url('../fonts/100IBMPlexSans-Thin.eot');
	src: local('☺'), url('../fonts/100IBMPlexSans-Thin.woff') format('woff'), url('../fonts/100IBMPlexSans-Thin.ttf') format('truetype'), url('../fonts/100IBMPlexSans-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    display: swap;
	font-family: '400IBMPlexSans-Regular';
	src: url('../fonts/400IBMPlexSans-Regular.eot');
	src: local('☺'), url('../fonts/400IBMPlexSans-Regular.woff') format('woff'), url('../fonts/400IBMPlexSans-Regular.ttf') format('truetype'), url('../fonts/400IBMPlexSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    display: swap;
	font-family: '500IBMPlexSans-Medium';
	src: url('../fonts/500IBMPlexSans-Medium.eot');
	src: local('☺'), url('../fonts/500IBMPlexSans-Medium.woff') format('woff'), url('../fonts/500IBMPlexSans-Medium.ttf') format('truetype'), url('../fonts/500IBMPlexSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
    display: swap;
	font-family: '600IBMPlexSans-SemiBold';
	src: url('../fonts/600IBMPlexSans-SemiBold.eot');
	src: local('☺'), url('../fonts/600IBMPlexSans-SemiBold.woff') format('woff'), url('../fonts/600IBMPlexSans-SemiBold.ttf') format('truetype'), url('../fonts/600IBMPlexSans-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
    display: swap;
	font-family: '700IBMPlexSans-Bold';
	src: url('../fonts/700IBMPlexSans-Bold.eot');
	src: local('☺'), url('../fonts/700IBMPlexSans-Bold.woff') format('woff'), url('../fonts/700IBMPlexSans-Bold.ttf') format('truetype'), url('../fonts/700IBMPlexSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
.body{
    font-family: IBM Plex Sans, sans-serif;
}
.block3_table {
    border-collapse: collapse;
    width: 849px;
    border-radius: 10px;
    overflow: hidden;
    font-family: IBM Plex Sans;
}
.block3_table th {
    background: #A3CC40;
    padding: 10px 20px;
    text-align: left;  
}
.block3_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}
.block3_link svg {
    display: inline-block;
    vertical-align: middle;
}
.block3_table td {
    padding: 12px 22px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
}
.dark_ground {
    background: #373737;
}
.gray_ground {
    background: #4C4D4F;
}
.container2 {
    width: 850px;
    margin: 0 auto;
    padding: 0 27px;
}
.parent2 {
    overflow: hidden;
    margin: 0 -27px;
}
.div2 {
    float: left;
    width: 33.33%;
    padding: 0 27px;
    box-sizing: border-box;
    color: #333333;
}
.div2 img {
    width: 245px;
    height: 169px;
}
.p2 {    
    width: 245px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
}
.p2_1 { 
    width: 245px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    text-align:center;
}

.container8 {
    width: 767px;
    margin: 0 auto;
    overflow: hidden;
}
.container8 img {
    float: left;
    width: 50%;
    height: 527px;
}
.div8 {
    float: left;
    width: 50%;
    height: 527px;
}
.p8 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.28;
    color: #A3CC40;
}
.div8_1 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.27;
    color: #A1A1A1;
    width: 344px;
    height: 40px;
    border-radius: 5px;
}
.div8 label {
    Width: 344px;
}
.div8_2 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.3;
    color: #333333;
}
.div8_3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 6px;
    width: 344px;
    Height: 57px;
}
.block1 {
    min-height: 680px;
    background: url('../images/cinema_hall.jpg') no-repeat center / cover, pink;
}
.block1_menu {
    float: left;
    max-width: 970px;
}
.block1_link {
    float: left;
    padding: 90px 80px 0 160px;    
}
.block1_contact {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    transition: 0.2s;
    text-decoration: none;
    padding:90px 30px 0 0;
}
.block1_contact:hover{
    color: #a3cc40;
}
.mail{
    border-bottom: 1px solid;
    padding-bottom: 0;
    display: inline-block;
    padding:90px 30px 0 0;
    line-height: 1.33;
}
.block1_phone{
    border-radius: 6px;
    background: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
}
.block1_lang {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color:#FFFFFF;
    transition: 0.2s;
    text-decoration: none;
    float: right;
    padding:90px 30px 0 0;
}
.block1_nav {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}  
.block1_nav ul{
    margin:0;
    padding:0;
    list-style:none;
    height:16px;
}  
.block1_nav ul li{
    float:left;
}  
.block1_nav ul li a{
    color:#fff;
    display:block;
    padding: 10px 65px 0 0;
    text-transform:uppercase;
    text-decoration:none;
    line-height: 1.33;
}  
.block1_nav ul li a:hover{
    color: #a3cc40;
}